In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bunia,CD,2020-01-03 05:19:36,1.56,30.25,79.03,54,84,4.21
1,1,Ushuaia,AR,2020-01-03 05:19:37,-54.81,-68.31,48.20,49,4,16.11
2,2,Ponta Do Sol,BR,2020-01-03 05:17:00,-20.63,-46.00,65.50,95,99,2.21
3,3,Kieta,PG,2020-01-03 05:17:09,-6.22,155.63,84.69,73,46,6.91
4,4,Atuona,PF,2020-01-03 05:17:05,-9.80,-139.03,80.83,78,3,15.82

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bunia,CD,2020-01-03 05:19:36,1.56,30.25,79.03,54,84,4.21
3,3,Kieta,PG,2020-01-03 05:17:09,-6.22,155.63,84.69,73,46,6.91
4,4,Atuona,PF,2020-01-03 05:17:05,-9.80,-139.03,80.83,78,3,15.82
6,6,Faanui,PF,2020-01-03 05:17:13,-16.48,-151.75,81.73,78,100,9.15
9,9,Meulaboh,ID,2020-01-03 05:13:47,4.14,96.13,81.99,74,29,3.65
14,14,Avarua,CK,2020-01-03 05:19:39,-21.21,-159.78,77.00,78,86,3.36
19,19,Bambous Virieux,MU,2020-01-03 05:16:26,-20.34,57.76,78.80,94,75,9.17
31,31,Caravelas,BR,2020-01-03 05:16:41,-17.73,-39.27,75.92,86,100,10.85
36,36,Buala,SB,2020-01-03 05:19:42,-8.15,159.59,84.20,72,73,4.94
38,38,Vaini,IN,2020-01-03 05:19:43,15.34,74.49,75.20,57,0,6.93

In [11]:
preferred_cities_df.count()

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
print(hotel_df)

                   City Country  Max Temp    Lat     Lng Hotel Name
0                 Bunia      CD     79.03   1.56   30.25
3                 Kieta      PG     84.69  -6.22  155.63
4                Atuona      PF     80.83  -9.80 -139.03
6                Faanui      PF     81.73 -16.48 -151.75
9              Meulaboh      ID     81.99   4.14   96.13
..                  ...     ...       ...    ...     ...        ...
537             Angoche      MZ     80.10 -16.23   39.91
540           Toamasina      MG     78.80 -18.17   49.38
545  Comodoro Rivadavia      AR     78.80 -45.87  -67.48
549               Binga      ZW     79.84 -17.62   27.34
554               Bowen      AU     87.01 -20.01  148.25

[118 rows x 6 columns]

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bunia,CD,79.03,1.56,30.25,Gold Star International Hotel
3,Kieta,PG,84.69,-6.22,155.63,
4,Atuona,PF,80.83,-9.80,-139.03,Villa Enata
6,Faanui,PF,81.73,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
9,Meulaboh,ID,81.99,4.14,96.13,Kost Pria
...,...,...,...,...,...,...
537,Angoche,MZ,80.10,-16.23,39.91,Guest House HESADA
540,Toamasina,MG,78.80,-18.17,49.38,Hotel H1
545,Comodoro Rivadavia,AR,78.80,-45.87,-67.48,Austral Hotel
549,Binga,ZW,79.84,-17.62,27.34,Masumu River Lodge
554,Bowen,AU,87.01,-20.01,148.25,Rose Bay Resort

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))